@CHARSET "ISO-8859-1";

#firstheader{ background-color: #a8281f; overflow: hidden; position: fixed;width: 150px; height: 30px;
border-top-right-radius:5px;border-top-left-radius:5px; right: 10px; bottom: 0px;border: 2px #a8281f;cursor: pointer;}
#firstlabel{color:white;cursor: pointer;margin-left: 10px;vertical-align: text-top;text-align:center;}
#icon{margin-left: 5px;height:25px;width:25px;margin-bottom: -8px;margin-top: 4px;}

#secondheader{width:282px;position:fixed;bottom:1px;background-color: white;right:15px;font-size:normal;font-weight: bold;}
#top{border-top-right-radius:5px;border-top-left-radius:5px;color:white;background-color: #a8281f;height:25px;width:282px;bottom:
300px;border:1px solid #a8281f}
#secondlabel{margin-left:5px}
#min{cursor:pointer;color:white;margin-left:120px;vertical-align:text-top;text-align:center;color:white;font-size:large; font-weight:bolder;   }
#fakeinput{height:30px;width:248px;border-radius:5px;background-color:white;border:1px solid #cccccc;margin-top:10px; margin-left: 10px; }
#content{background-color:white;padding-top:10px; border:1px solid #cccccc;position:relative;
width:282px;padding-bottom: 0 !important;direction:ltr;height:auto;}
#intro{margin-left:10px;margin-bottom: -5px;margin-top: 20px;vertical-align: text-top;}
#fakeclick{margin-left:2px;align:center;cursor:pointer;}
input[type="text"]{border-radius:5px;width:248px;height:30px;background-color: white;border:1px solid #DDD;margin-left:10px;
text-align:left;margin-top: 10px;border:1px solid #cccccc; }
/* select{color: #666;background: #FFF;padding: 6px;border-width: 1px;border-style: solid;border-color: #DDD;
opacity: 0;width: 100%;height: 100%;top: 0px;left: 0px;margin: 0px;} */
.textarea{border-radius:5px;border:1px solid #DDD;background-color: white;margin-left:10px;margin-top:5px}
.chattext{border:1px solid #DDD;background-color: white;border-bottom-left-radius:2px;border-bottom-right-radius:2px}

input[type="submit"]{height:30px;width:260px;text-align: center;cursor:pointer;color: white;background-color:#a8281f;
border-radius:5px;margin-left:10px;margin-top: 5px }
.selectdept{width:240px;height:30px;background-color: white;border:1px solid #DDD;margin-left:10px;border-radius:5px;margin-top:5px; }
#firstheader:hover,#top:hover,#min:HOVER{background-color:red;border:1px solid red;}
input[type="submit"]:HOVER {
	background-color:red;
}
.submitarea{height:40px;background-color:white;width:282px;border:1px solid #cccccc;margin-bottom:0px; }
.facebook{width:20px;height:20px;margin-left:10px;margin-top:5px;margin-bottom: -5px;cursor:pointer;}
.google{width:20px;cursor:pointer;height:20px;margin-left:5px;margin-top:5px;margin-bottom: -5px}

#chatcontent{height:250px;width:282px;background-color:white;border:1px solid #DDD;}
.minimize{margin-left:120px}