@charset "utf-8";
/* CSS Document */

body {
	background: #fff;
	}
	
	
* {
	margin:  0px;
	padding: 0px;
	}

a {
	text-decoration: none !important;
	outline: 0px;
	}

	
ul, ol {
	margin: 0px;
	}
	
.container {
	max-width: 960px;
	}
	
	
.top50 {
	margin-top: 50px;
	}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.chatbox
{
position:fixed;
bottom:-10px;
float:right;
right:-500px;
width:55%;
}
.chatbox_header
{
position:fixed;
bottom:-10px;
float:right;
right:-500px;
width:55%;
display:none;
}
.panel-footer
{
padding:0px;
}
.chatbox_arrow {
	position: relative;
	background: #fff;
	border: 1px solid #428BCA;
	max-width:180px;
	display: inline-block;
	margin-left:10px;
	min-height:25px;
	padding:5px;
	margin-top:10px;
}
.chatbox_arrow:after, .chatbox_arrow:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.chatbox_arrow:after {
	border-color: rgba(85, 213, 132, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.chatbox_arrow:before {
	border-color: rgba(245, 191, 145, 0);
	border-right-color: #428BCA;
	border-width: 12px;
	margin-top: -12px;
}
#date_time
{
	margin-left:7px;
	color:#ccc;
	font-size:9px;
}
.emotic {
background: no-repeat url(../img/emotics.png) -22px -25px;
width: 14px;
height: 14px;
margin-top:5px;
margin-right:5px;
float:right;
cursor:pointer;
}
.arrow_box_emotics {
	position: fixed;
	background: #fff;
	border: 1px solid #428BCA;
	width:150px;
	height:80px;
	bottom:75px;
	overflow-y: auto;
    overflow-x: hidden;
    right:0%;
}
.arrow_box_emotics:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
}

.arrow_box_emotics:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_emotics:before {
	border-color: rgba(189, 40, 40, 0);
	border-top-color: #428BCA;
	border-width: 13px;
	margin-left: -13px;
}
.emoticlist{
list-style-type: none;
display: inline;
padding:10px;
cursor: pointer;
}
.octicon-tag {
margin: 5px 0 0 0;
padding: 0;
float:left;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}